html{
	background-image: url("pop.jpg");
}

nav {

  margin-right: 6%;
}

nav ul {
padding-right: 3%;
}

nav ul li {
  display: inline-flex;
}

nav ul li a {
	padding: 2.5px;
  font-family: "Roboto";
  color: #fbe72e;
  text-shadow: 1px 1px 1px rgba(247, 241, 241, 0.53);
  font-size: auto;
  text-decoration: none;
  display: inline-flex;
}

nav ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.bebra{
	padding: 1%;
}
